@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    max-width: 960px;
    margin: auto;
    background-color: whitesmoke;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;
    padding-bottom: 0em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1em;
    padding-bottom: 1em;
}

main {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1,
h2,
h3 {
    font-weight: 100;
    margin-bottom: 0;
}

#mainLeft {
    border-right: 1px solid lightgray;
}

/* for the animation of the social media links */
a {
    text-decoration: none;
    color: gray;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

a:hover {
    color: burlywood;
    box-shadow: inset 210px 0 0 0 #54b3d6;
    color: white;
}

@media only screen and(max-width: 960px) {
    #mainLeft {
        margin-left: 10%;
        border-right: 1px solid lightgray;
    }
    #mainRight {
        margin-left: 20px;
    }
    h1 {
        font-size: 2em;
        letter-spacing: .1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    #mainLeft {
        border: none;
    }
    
}